body{
    font-family: 'Roboto', 'sans-serit';
}

#menu{
    width: 35px;
    height: 35px;
}

.content{
    display: flex;
}

img{
    width: 60px;
    height: 60px;
}

.form{
    width: 70%;
    margin-left: 100px;
    margin-top: 40px;
}

.form input{
    background: #fff;
    border: 1px solid #6C63FF;
    box-sizing: border-box;
    border-radius: 25px;
}

#description{
    height: 200px;
}

.titles{
    color: #012840;
    font-size: 22px;
}

.info{
    color: #9D9D9D;
    font-size: 16px;
}

.actions{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background: #6C63FF;
    border: 1px solid #6C63FF;
    box-sizing: border-box;
    border-radius: 25px;
}

